<main>
    <div class="container">
        <h2>Conversor de imagens Online</h2>
        <div id="select-area">
            <a href="/jpgtopng" class="file-input">
                <i class="fas fa-file-image"></i> JPG para PNG</a>
        </div>
        <div id="select-area">
            <a href="/pngtojpg" class="file-input">
                <i class="fas fa-file-image"></i> PNG para JPG</a>
        </div>
        <div id="select-area">
            <a href="/webptopng" class="file-input">
                <i class="fas fa-file-image"></i> WEBP para PNG</a>
        </div>
        <div id="select-area">
            <a href="/bmptopng" class="file-input">
                <i class="fas fa-file-image"></i> BMP para PNG</a>
        </div>
        <div id="select-area">

            <a href="/pngtopdf" class="file-input">
                <i class="fas fa-file-image"></i> PNG para PDF</a>

        </div>
        <div id="select-area">

            <a href="/jpgtopdf" class="file-input">
                <i class="fas fa-file-image"></i> JPG para PDF</a>

        </div>

    </div>

</main>