<main>
    <div class="container">
        <h2>Conversor de imagens Online</h2>
        <div class="select-area home">
            <a href="/jpgtopng" class="file-input">
                <i class="fas fa-file-image"></i><span>JPG para PNG</span> </a>
        </div>
        <div class="select-area home">
            <a href="/pngtojpg" class="file-input">
                <i class="fas fa-file-image"></i><span> PNG para JPG</span></a>
        </div>
        <div class="select-area home">
            <a href="/webptopng" class="file-input">
                <i class="fas fa-file-image"></i> WEBP para PNG</a>
        </div>
        <div class="select-area home">
            <a href="/pngtowebp" class="file-input">
                <i class="fas fa-file-image"></i>PNG para WEBP</a>
        </div>
        <div class="select-area home">
            <a href="/bmptopng" class="file-input">
                <i class="fas fa-file-image"></i> BMP para PNG</a>
        </div>
        <div class="select-area home">

            <a href="/pngtobmp" class="file-input">
                <i class="fas fa-file-image"></i> PNG para BMP</a>

        </div>
        <div class="select-area home">

            <a href="/pngtopdf" class="file-input">
                <i class="fas fa-file-image"></i> PNG para PDF</a>

        </div>


    </div>

</main>