<main>
    <div class="container">
      <header>converter {{title}}</header>
      <form onsubmit="return false;" id="form">
        <div id="select-area">
          <input type="file" id="image"  class="file-input" name="file" hidden="">
          <i class="fas fa-file-image"></i>
          <p>Select {{input}}</p>
        </div>
        <div class="preview">
          <img id="file-preview">
          <i class="fas fa-trash" id="remove-img" style="display: none;"></i>
        </div>
        <div class="btn-div">
          <button id="convert-button" disabled>Converter para {{output}}</button>

        </div>
        <div style="display: none;" id="mensagem-container">
          <p id="error-message" style="color: red;"></p>
        </div>

      </form>
    </div>
  </main>