<div class="navbar">
    <ul>
      <li><a href="/">Início</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Conversores</a>
        <div class="dropdown-content">
          <a href="/jpgtopng">JPG para PNG</a>
          <a href="/pngtojpg">PNG para JPG</a>
          <a href="/webptopng">WEBP para PNG</a>
          <a href="/bmptopng">BMP para PNG</a>
          <a href="/pngtopdf">PNG para PDF</a>
        </div>                
      </li>
      <li class="user" style="float:right">Olá, {{ user.username }}!</li>
    </ul>
  </div>